        /*Trabalhano  seção de destaques*/
        
        .banner__imagem {
            height: 21rem;
            width: 100%;
            color: var(--texto-destaque);
            background-position: center;
            background-image: url("../img/banner-image.png");
            background-size: contaner;
            background-repeat: no-repeat;
            padding-left: 6rem;
        }
        
        .banner__informacao {
            color: #fff;
            font-family: var(--opensance);
            line-height: 35px;
            top: 250px;
            position: absolute;
        }
        
        .banner h1 {
            color: var(--texto-destaque);
            font-weight: bolder;
            font-family: var(--opensance);
        }
        
        .banner h4 {
            color: var(--texto-destaque);
            font-family: var(--opensance);
            font-weight: bolder;
        }
        
        #btnBanner {
            background-color: var(--azul-destaque);
            border: none;
            color: var(--azul-destaque);
            border-radius: 2px;
            color: var(--texto-destaque);
            width: 8rem;
            height: 2.4rem;
        }
        
        #btnBanner:hover {
            color: var(--azul-destaque);
            background-color: var(--texto-destaque);
            cursor: pointer;
        }
        
        @media screen and (min-width: 0) {
            .banner__imagem {
                width: 44rem;
                height: 16rem;
                padding-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
            .banner h1 {
                font-size: 2.8rem;
            }
            .banner h4 {
                font-size: 1.1rem;
            }
            #btnBanner {
                width: 7rem;
                height: 1.6rem;
            }
        }
        
        @media screen and (min-width: 768px) {
            .banner__imagem {
                height: 21rem;
                width: 100%;
                color: var(--texto-destaque);
                background-position: center;
                background-image: url("../img/banner-image.png");
                background-size: contaner;
                background-repeat: no-repeat;
                padding-left: 6rem;
            }
            .banner h1 {
                font-size: 3.8rem;
            }
            .banner h4 {
                font-size: 1.6rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            #btnBanner {
                background-color: var(--azul-destaque);
                border: none;
                color: var(--azul-destaque);
                border-radius: 2px;
                color: var(--texto-destaque);
                width: 8rem;
                height: 2.4rem;
            }
        }