.container__produtos_geral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessao-produtos {
    display: flex;
    width: 83rem;
    height: 19.2rem;
    justify-content: space-between;
}


/*.sessao-produtos {
    display: flex;
    width: 86rem;
    height: 19.2rem;
    padding: 1rem;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}*/

.titulo p {
    font-family: var(--montserrat);
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 1.5rem;
}

.produto__mostra {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
}

.produto__mais {
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
}

.produto__mais p {
    /* ver azuk da seta*/
    color: var(--azul-destaque);
    font-family: var(--opensarce);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}

h5 {
    /* texto dos itens dos produtos*/
    font-size: 1.2rem;
    font-weight: bolder;
    padding-top: 0.6rem;
    margin-right: 3.5rem;
}

.produtos__titulo {
    display: flex;
    justify-content: space-between;
}

.produto__especificos button {
    background: var(--texto-destaque);
    text-align: right;
    border: none;
    color: var(--azul-destaque);
    font-weight: bold;
    padding-top: 0.7rem;
    margin: 0;
}

@media screen and (min-width:0) {
    .sessao-produtos {
        flex-wrap: wrap;
        justify-items: center;
    }
}

@media screen and (min-width: 768px) {
    .container__produtos_geral {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}