        .container__produtos_geral {
            display: flex;
            flex-direction: column;
            width: 71rem;
            margin: 0 auto;
        }
        
        .sessao-produtos {
            display: flex;
            width: 71rem;
            height: 19.2rem;
            justify-content: space-between;
        }
        
        .produtos__titulo .titulo {
            font-family: var(--opensource);
            font-size: 1.8rem;
            font-weight: bold;
        }
        /*separar  */
        
        .produto__mostra {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        .populares__card___titulo {
            font-size: 1.1rem;
            font-family: var(--opensource);
            font-weight: 100;
            padding-top: 0.5rem;
            margin-left: 0.3rem;
        }
        
        .produto__especificos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-items: center;
        }
        
        .produto__especificos button {
            background: var(--texto-destaque);
            border: none;
            flex-direction: column;
            color: var(--azul-destaque);
            font-size: 1.2rem;
            font-weight: bold;
            padding-top: 1rem;
        }
        
        @media screen and (min-width: 0) {
            .produto__mostra {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        
        @media screen and (min-width:768px) {
            .produto__mostra {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        
        @media screen and (min-width: 992px) {}