.rodape {
    font-size: 1rem;
    text-align: center;
    font-family: var(--montserrat);
    width: 100%;
    height: 1rem;
    font-weight: normal;
    line-height: 0.5rem;
    padding-top: 1rem;
    background-color: var(--texto-destaque);
}